# Dependencias
node_modules/
_tmp_*
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Producción
*.tsbuildinfo
next-env.d.ts

# Variables de entorno (NUNCA subir las reales)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Supabase local
supabase/.branches/
supabase/.temp/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Sistema
.DS_Store
*.pem
.vscode/
.idea/

# Vercel
.vercel
